@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	overflow-x: hidden;
	font-family: 'Satoshi', sans-serif;
}

:root {
	--primary-accent: #FE881B; 
	--primary-accent-light: #ffac5e;
	--white: #ffffff;
	--black: #000000;
}

::-webkit-scrollbar {
	display: none;
}