
.fullPage {
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    padding: 2rem;
}

.doodle {
    position: fixed;
    height: 100vh;
    width: auto;

    top: 0;
    left: 0;
}