
.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100vw;
    height: 10vh;

    position: absolute;
    background-color: #E0D8B0;
    z-index: 100;
    box-shadow: 0px 30px 60px #e8d5b5;
    /* border-bottom: 2px solid #53503d; */
}

.logo {
    color: var(--primary-accent);
    width: 30vw;
    font-size: 2rem;
}   

.navLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 30vw;
}

@media only screen and (max-width: 600px) {
    .navBar {
        justify-content: space-between;
        background: none;
        box-shadow: none;
    }

    .logo {
        margin-left: 1rem;
        font-weight: 800;
    }

    .navLinks {
        color: var(--white);
        width: 50vw;
    }
}
